<br />
<div class="container">
    <div class="text-left">
        <h5 class="text-danger">Trip Information</h5>
    </div>
    <hr />
    <div style="padding: 5px 40px;">

    <form [formGroup]="tripCreat" (ngSubmit)="onSubmit()" class="">
        <div class="row">
            <div class="col text-left">
                <div class="form-check form-check-inline">
                    <input id="travleType1" type="radio" value="Domestic Travel" formControlName="travleType"
                        class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.travleType.errors }" />
                    <label class="form-check-label" for="travleType1">Domestic Travel</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="travleType2" type="radio" value="Internationl Travel" formControlName="travleType"
                        class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.travleType.errors }" />
                    <label class="form-check-label" for="travleType2">Internationl Travel</label>
                </div>
            </div>
            <div class="col text-left">
                <div class="form-check form-check-inline">
                    <input id="tripType1" type="radio" value="One Way" formControlName="tripType"
                        class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.tripType.errors }" />
                    <label class="form-check-label" for="tripType1">One Way</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="tripType2" type="radio" value="Round Trip" formControlName="tripType"
                        class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.tripType.errors }" />
                    <label class="form-check-label" for="tripType2">Round Trip</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="text-left">
                        <label for="fromLocation">From Location</label>
                    </div>
                    <select formControlName="fromLocation" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.fromLocation.errors }">
                        <option *ngFor="let fLocation of arFromLocation" [ngValue]="fLocation">
                            {{fLocation.name}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.fromLocation.errors" class="invalid-feedback">
                        <div *ngIf="f.fromLocation.errors.required">Please select from location</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="text-left">
                        <label for="toLocation">To Location</label>
                    </div>
                    <select formControlName="toLocation" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.toLocation.errors }">
                        <option *ngFor="let tLocation of arToLocation" [ngValue]="tLocation">
                            {{tLocation.name}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.toLocation.errors" class="invalid-feedback">
                        <div *ngIf="f.toLocation.errors.required">Please select to location</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group datePicer">
                    <div class="text-left">
                        <label for="startDate">Start Date</label>
                    </div>
                    <input type="text" [matDatepicker]="startDate" formControlName="startDate"
                        class="form-control datePicer" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                        <div *ngIf="f.startDate.errors.required">Please select start date</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group datePicer">
                    <div class="text-left">
                        <label for="endDate">End Date</label>
                    </div>
                    <input type="text" [matDatepicker]="endDate" formControlName="endDate"
                        class="form-control datePicer" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>

                    <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                        <div *ngIf="f.endDate.errors.required">Please select end date</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="text-left">
                        <label for="purpuse">Purpuse</label>
                    </div>
                    <select formControlName="purpuse" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.purpuse.errors }">
                        <option *ngFor="let purpuse of arPurpuse" [ngValue]="purpuse">
                            {{purpuse.name}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.purpuse.errors" class="invalid-feedback">
                        <div *ngIf="f.purpuse.errors.required">Please select purpuse</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="text-left">
                        <label for="tripFor">Trip For</label>
                    </div>
                    <select formControlName="tripFor" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.tripFor.errors }">
                        <option *ngFor="let tripFor of arTripFor" [ngValue]="tripFor">
                            {{tripFor.name}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.tripFor.errors" class="invalid-feedback">
                        <div *ngIf="f.tripFor.errors.required">Please select trip for</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="text-left">
                        <label for="travelDetails">Travel Details</label>
                    </div>
                    <textarea type="text" formControlName="travelDetails" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.travelDetails.errors }" rows="2" style="resize: none;"
                        placeholder="Details"></textarea>
                    <div *ngIf="submitted && f.travelDetails.errors" class="invalid-feedback">
                        <div *ngIf="f.travelDetails.errors.required">Please select travel details</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="text-left">
                        <label for="tripCostCenter">Trip Cost Center</label>
                    </div>
                    <select formControlName="tripCostCenter" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.tripCostCenter.errors }">
                        <option *ngFor="let tripCostCenter of arTripCostCenter" [ngValue]="tripCostCenter">
                            {{tripCostCenter.name}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.tripCostCenter.errors" class="invalid-feedback">
                        <div *ngIf="f.tripCostCenter.errors.required">Please select trip cost center</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="text-left">
                        <label for="eventCode">Event Code</label>
                    </div>
                    <select formControlName="eventCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.eventCode.errors }">
                        <option *ngFor="let eventCode of arEventCode" [ngValue]="eventCode">
                            {{eventCode.name}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.eventCode.errors" class="invalid-feedback">
                        <div *ngIf="f.eventCode.errors.required">Please select event code</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <button id="btnSaveContinue" [disabled]="loading" class="btn btn-danger">Save & Continue </button>
        </div>
    </form>
    </div>

</div>