

<div class="container">
    <h3 class="text-left">Create Trip</h3>
    <div style="padding: 5px 40px;">

          <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step>
                <ng-template matStepLabel>Trip Information</ng-template>
                <app-trip-information></app-trip-information>
            </mat-step>
            <mat-step >
                <ng-template matStepLabel>Traveler Details</ng-template>
                <app-travel-details></app-travel-details>
            </mat-step>
            <mat-step >
                <ng-template matStepLabel>Flight/Train</ng-template>
                <app-flight-or-tran></app-flight-or-tran>
            </mat-step>
            <mat-step >
                <ng-template matStepLabel>Accomodation</ng-template>
                <app-accomodation></app-accomodation>
            </mat-step>
            <mat-step >
                <ng-template matStepLabel>Car Pool</ng-template>
                <app-car-pool></app-car-pool>
            </mat-step>
          </mat-horizontal-stepper>




    </div>
</div>