<div style="padding-top:60px;">  
    <div class="text-center">  
        <button (click)="socialSignIn('google')" class="loginBtn loginBtn--google btn btn-outline-success">  
            Login with Google  
        </button>   
    </div>  
</div>