<div id="main">

  <div>
    <h3>Welcome</h3>
  </div>
  
  <div *ngIf="currentUser">
    <div class="row">
      <div class="col text-right">
        <h4>{{currentUser.name}}</h4>
      </div>
      <div class="col text-left">
        <button (click)="logout()" class="btn btn-outline-danger" style="margin-left: 20px;">  
            Log out  
        </button> 
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>