<div *ngIf="currentUser">
    <div style="padding-top:60px;">  
        <div class="text-center">  
            <button (click)="createTrip()" class="btn btn-outline-primary">  
                Create Trip  
            </button>   
        </div>  
    </div>
</div>
<div *ngIf="!currentUser">
    <app-login></app-login>
</div>
